In [ ]:
! pip install  numpy
! pip install pandas
import numpy as np 
import pandas as pd

Requirement already satisfied: numpy in c:\users\devas\appdata\local\programs\python\python312\lib\site-packages (2.4.0)

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\devas\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\devas\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\devas\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\devas\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\devas\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\devas\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
0     5
1    45
2    24
dtype: int64

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
data=np.array([5,45,2,24])
s=pd.Series(data)
print(s)

s=pd.Series(data,index=[1,2,3,4])
print(s)

student={"Anas":5,"Deva":45,"Harshal":2,"Mamta":24}
data2=pd.Series(student)
print(data2)

data3=pd.Series(student,index=["Anas"])
print(data3)

0     5
1    45
2     2
3    24
dtype: int64
1     5
2    45
3     2
4    24
dtype: int64
Anas        5
Deva       45
Harshal     2
Mamta      24
dtype: int64
Anas    5
dtype: int64

In [ ]:
# ---DATA FRAMES--- 
main_data=np.array(["Anas","Deva","Harshal","Mamta"])
data4=pd.DataFrame(main_data)
print(data4)

print(data4.loc[1])

df2=pd.DataFrame()
print(df2)

x=pd.options.display.max_rows
print(x)

         0
0     Anas
1     Deva
2  Harshal
3    Mamta
0    Deva
Name: 1, dtype: object
Empty DataFrame
Columns: []
Index: []
60

In [44]:
df= pd.read_csv('data.csv')
print(df)

pd.options.display.max_rows=1000
df3= pd.read_csv('data.csv')
print(df3)

    Names                Roll
0  Anas Nabeel Khan        05
1  Devashree Rane          45
2  Harshal Pachange        02
3  Mamta Gawale            24
    Names                Roll
0  Anas Nabeel Khan        05
1  Devashree Rane          45
2  Harshal Pachange        02
3  Mamta Gawale            24

In [ ]:
df4= pd.read_csv('data.Json')
print(df4)

df5=pd.read_csv('data.csv') 
print(df5.head(2)) 
print(df5.head())
print(df5.tail())
print(df5.info())

                                      def greet(name):
    return f"Hello                            {name}!"
print(greet("World")) # Output: Hello           World!
    Names                Roll
0  Anas Nabeel Khan        05
1  Devashree Rane          45
2  Harshal Pachange        02
3  Mamta Gawale            24
    Names                Roll
0  Anas Nabeel Khan        05
1  Devashree Rane          45
2  Harshal Pachange        02
3  Mamta Gawale            24
    Names                Roll
0  Anas Nabeel Khan        05
1  Devashree Rane          45
2  Harshal Pachange        02
3  Mamta Gawale            24
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0         Names                Roll  4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes
None